doctype 5
html(lang="fr")
  head
    title My Own Transactions

  body
    h1 Welcome on My Own Transactions
    p This application will help you manage your transactions!

    form(action="add", method="post")
        label Title:
        input(type="text", name="title")
        label Url:
        input(type="text", name="url")
        input(type="submit", value="Add a new transaction")

    ul
        - for(transaction in transactions) {
            li
                a(href=transactions[transaction].url)= transactions[transaction].title
                | &nbsp;- (
                a(href="delete/#{transactions[transaction].id}") delete
                | )
        - }