
$smallscreen: 600px;

/*Small screens*/
@media screen and (max-width: $smallscreen) {

}

/*Large screens*/
@media screen and (min-width: $smallscreen) {
    #menu{
        a{
            margin: 20px;
        }
    }
}

#step1{
    div{
        display: none;
    }
    table
    {
        list-style-type: none;
    }
    th{
        text-align: left;
        padding-left: 10px;
        padding-right: 20px;
    }
    label{
        margin-top: 15px;
        color: #555;
        font-size: 1.3em;
    }
    img{
        min-width: 32px;
        min-width: 32px;
    }
}

.reveal-modal{
    top:0 !important;
}


#step2{
    label{
        margin-top: 15px;
        color: #555;
        font-size: 1.3em;
    }
}


.fa{
    margin: 5px;
}


main{
    min-height: 85vh;
}
footer{
    background-color: #ddd;
    width: 100%;
    div{
        padding: 15px;
        margin: 15px;
    }
    min-height: 10vh;
}
ul{
    list-style: none;
}