main
  .row
      div.large-8.columns
          h1 Mes Objets
          h4 Centralisez les données de vos achats et objets !

      #menu.large-4.columns
          a#additembutton.success.radius.button(href='#', data-reveal-id='step1') Ajouter un objet



  .row
    table(width="100%", id="inventory")
        thead
            tr
              th Image
              th Titre
              th Catégories
              th Source
              th Pièce jointes
              th Commentaire
              th Action
        tbody
            //- items
    #details.panel
      p
        em Selectionnez un objet pour voir ses informations

footer
  .row
    .text-center.columns
      a#tour.radius.button(href='#', id="joyride") Visite guidée
    .text-center.large-8.large-offset-2.columns
      p
        | Mes Objets vous aide à dresser l'
        strong inventaire de vos objets
        | &nbsp;en s'appuyant sur les données fournies par les &nbsp;
        strong entreprises partenaires
        | &nbsp;(actuellement seulement Intermarché). Outre cet aide-mémoire pour vos achats importants, l'application vise à tirer toute la puissance du web des données ouvertes ("
        em Linked Open Data
        |") pour enrichir l'information sur vos objets. Encore minimal au moment de ce prototype, cette fonctionnalités de centralisation et de structure des données sur les objets devra permettre à l'avenir la&nbsp;
        strong réutilisation de ces données
        | &nbsp;par d'autres applications, par exemple pour des applications d'économie collaborative (revente, troc, don, prêt...).
    .text-center.large-12.columns
      small
        | prototype réalisé par&nbsp;
        a(href="https://twitter.com/maxlath") Max
        | &nbsp;et&nbsp;
        a(href="https://twitter.com/MFozeu") Tonton Mike



    #step1.reveal-modal(data-reveal='data-reveal')

    #step2.reveal-modal(data-reveal='data-reveal')
      form(data-abide)
        h2 Etape 2 : Compléter les données récoltées
        p Ajoutez des informations ou éditez celles collectées

        #title
            label Titre:
            input(type="text", name="title", required)
                small.error Un titre est requis pour identifier le nouvel objet

        #barcode
            label Code barre:
            input(type="text", name="barcode", required pattern="number")
                small.error Le Code Barre ne peut comprendre que des chiffres

        #vendor
          label Vendeur
          input(type="text", name="vendor")

        #price
          label Prix
          input(type="text", name="price")

        #comment
            label Comment: (optionel)
            textarea(name="comment")

        a.success.radius.button.right(href='#', id="add-item", type="submit") Ajouter l'objet à l'inventaire
        a.radius.button(href='#', data-reveal-id='step1', type="submit", id="prev") Retour à l'étape 1

      a.close-reveal-modal ×

    //
       Reveal Modals end


ol.joyride-list(data-joyride='data-joyride')
    li(data-text='Commencer le tour')
      h4 Bienvenue dans l'application Mes Objets !
      p
        | L'application est encore à l'état de prototype mais vous donne déjà un aperçu de ce que l'on pourrait faire si les entreprises nous communiquaient nos données !
    li(data-id='inventory', data-text='Suivant', data-options='tip_location: top')
      h4 Un inventaire personnel
      p
        | L'application vous aide à faire l'inventaire de vos achats et objets personnels importants.
    li(data-id='itemTitle', data-text='Suivant', data-options='tip_location: top')
      h4 Un inventaire configuré pour le web des données
      p
        | Chaque objet ajouté à l'inventaire permet de centraliser les informations sur ses achats (preuves d'achats, code barre...), qu'elles soient fournit par les vendeurs ou qu'elle soit disponible ailleurs sur le web !
      strong Cliquez sur un objet pour afficher ses détails.
      br
      br
    li(data-id='additembutton', data-text='Dernière étape')
      h4 Ajoutez vos objets
      p
        | Ajoutez des objets à votre inventaire à l'aide des données recoltées auprès des entreprises partenaires (aujourd'hui seulement Intermarché) ou, à défaut, à la main, en rentrant leur code barre.
    li(data-button='Fin')
      h4 Merci d'essayer notre application !

#loadbg.loading
.row.loading
  .large-offset-5.large-2.small-offset-5.small-2
    #circleG
      #circleG_1.circleG
      #circleG_2.circleG
      #circleG_3.circleG
