div.large-offset-2.large-8.small-offset-1.small-10
    h1 Transactions Tracker
    p This application will help you manage your transactions!

    //- Test Foundation JS
    //- a.button.dropdown(href='#', data-dropdown='drop1') Dropdown Button
    //- br
    //-     ul#drop1.f-dropdown(data-dropdown-content='data-dropdown-content')
    //-       li
    //-         a(href='#') This is a link
    //-         li
    //-             a(href='#') This is another
    //-             li
    //-                 a(href='#') Yet another

    small.has-tip(data-tooltip='data-tooltip', title="Test: if it's pretty, it's working") FoundationJS test

    form(data-abide)
      #step1
        h2 Etape 1
        p Choisissez les preuves d'achat à attacher
        label
          | Catégorie
          select(name="proof_source")
            option(value='intermarche') Intermarché

      #step2
        h2 Etape 2
        p Editez les informations collectées

        div.title
            label Titre:
            input(type="text", name="title", required)
                small.error Un titre est requis pour identifier la transaction

        a#trace.button Attacher une preuve d'achat

        div.category.row.collapse
            div.large-4.columns
                label
                    | Catégorie
                    select(name="cat")
                      option(value='bricolage') Bricolage
                      option(value='starbuck') Starbuck
                      option(value='hotdog') Hot Dog
                      option(value='apollo') Apollo

            div.large-4.columns
                label
                    | Sous-catégorie
                    select(name="subcat")
                      option(value='pelle') Pelle
                      option(value='husker') Husker
                      option(value='starbuck') Starbuck
                      option(value='hotdog') Hot Dog

            div.large-4.columns
                label
                    | Sous-sous-catégorie
                    select(name="subsubcat")
                      option(value='pelleapicoucontondants') Pelle à picous contondants
                      option(value='husker') Husker
                      option(value='apollo') Apollo
                      option(value='starbuck') Starbuck
        div.barcode
            label Code barre:
            input(type="text", name="barcode", required pattern="number")
                small.error Le Code Barre ne peut comprendre que des chiffres
        div.comment
            label Comment: (optionel)
            textarea(type="text", name="comment")
        div.url
            label Url:
            input(type="text", name="url", pattern="url")
                small.error Une URL valide doit commencer par http(s)
        div.trace
        input(id="add-transaction", type="submit", value="Add a new transaction", class="button success")
    local
    table
        thead
            tr
              th Title
              th Categories
              th Barcode
              th URL
              th Traces
              th(width='100%') Comments
              th(width='150') Action
        tbody
            //- transactions
    #receipts
      p hello receipts div
