.row
    .large-4.small-12.columns
        .row
            .large-6.small-12.columns
                span
                    strong Nom de l'article
            .large-6.small-12.columns
                span
                    if typeof name !== "undefined"
                        = name
        .row
            .large-6.small-12.columns
                span
                    strong Quantité
            .large-6.small-12.columns
                span
                    if typeof amount !== "undefined"
                        = amount
        .row
            .large-6.small-12.columns
                span
                    strong Prix
            .large-6.small-12.columns
                span
                    if typeof price !== "undefined"
                        = price + " €"
        //- .row
        //-     .large-6.small-12.columns
        //-         span
        //-             strong order
        //-     .large-6.small-12.columns
        //-         span
        //- if typeof order !== "undefined"
        //-     = order
        .row
            .large-6.small-12.columns
                span
                    strong Quantité
            .large-6.small-12.columns
                span
                    if typeof quantityLabel !== "undefined"
                        = quantityLabel
        .row
            .large-6.small-12.columns
                span
                    strong Code Barre
            .large-6.small-12.columns
                span
                    if typeof barcode !== "undefined"
                        = barcode
        .row
            .large-6.small-12.columns
                span
                    strong Label
            .large-6.small-12.columns
                span
                    if typeof label !== "undefined"
                        = label
        //- .row
        //-     .large-6.small-12.columns
        //-         span
        //-             strong Family
        //-     .large-6.small-12.columns
        //- //-         span
        //- if typeof family !== "undefined"
        //-     = family
        //- .row
        //-     .large-6.small-12.columns
        //-         span
        //-             strong familyLabel
        //-     .large-6.small-12.columns
        //-         span
        //- if typeof familyLabel !== "undefined"
        //-     = familyLabel
        .row
            .large-6.small-12.columns
                span
                    strong Section
            .large-6.small-12.columns
                span
                    if typeof sectionLabel !== "undefined"
                        = sectionLabel
        //-     .large-6.small-12.columns
        //-         span= section
        //- .row
        //-     .large-6.small-12.columns
        //- //-         span
        //- //-             strong sectionLabel
        //- //- .row
        //- //-     .large-6
        //- if typeof mall !== "undefined"
        //-     .small-12.columns
        //- //-         span
        //- //-             strong type
        //- //-     .large-6.small-12.columns
        //- //-         span
        //- if typeof type !== "undefined"
        //-     = type
        //- //- .row
        //- //-     .large-6.small-12.columns
        //- //-         span
        //- //-             strong typeLabel
        //- //-     .large-6.small-12.columns
        //- //-         span
        //- if typeof typeLabel !== "undefined"
        //-     = typeLabel
        //- //- .row
        //- //-     .large-6.small-12.columns
        //- //-         span
        //- //-             strong receiptId
        //- //-     .large-6.small-12.columns
        //- //-         span
        //- if typeof receiptId !== "undefined"
        //-     = receiptId
        .row
            .large-6.small-12.columns
                span
                    strong Identifiant du magasin
            .large-6.small-12.columns
                span
                    if typeof intermarcheShopId !== "undefined"
                        = intermarcheShopId
        .row
            .large-6.small-12.columns
                span
                    strong Date
            .large-6.small-12.columns
                span
                    if typeof timestamp !== "undefined"
                        = prettyDate(timestamp)
        //- .row
        //-     .large-6.small-12.columns
        //-         span
        //-             strong isOnlineBuy
        //- //-     .large-6.small-12.columns
        //- //-         span
        //- if typeof isOnlineBuy !== "undefined"
        //-     = isOnlineBuy
        //- //- .row
        //- //-     .large-6.small-12.columns
        //- //-         span
        //- //-             strong aggregatedSection
        //- //-     .large-6.small-12.columns
        //- //-         span
        //- if typeof aggregatedSection !== "undefined"
        //-     = aggregatedSection
        //- //- .row
        //- //-     .large-6.small-12.columns
        //- //-         span
        //- //-             strong quantityUnit
        //- //-     .large-6.small-12.columns
        //- //-         span
        //- if typeof quantityUnit !== "undefined"
        //-     = quantityUnit
        //- //- .row
        //- //-     .large-6.small-12.columns
        //- //-         span
        //- //-             strong quantityAmount
        //- //-     .large-6.small-12.columns
        //- //-         span
        //- if typeof quantityAmount !== "undefined"
        //-     = quantityAmount
        //- //- .row
        //- //-     .large-6.small-12.columns
        //- //-         span
        //- //-             strong quantityWeight
        //- //-     .large-6.small-12.columns
        //- //-         span
        //- if typeof quantityWeight !== "undefined"
        //-     = quantityWeight

    .large-4.small-12.columns
        if barcode.lenght = 13
            img(src='http://drive.intermarche.com/ressources/images/produit/zoom/0#{barcode}.jpg', alt='#{name}', id='preview_image')

.row
    .large-12.small-12.columns.respublicaio
        h3 Données Respublica.io
    .large-12.small-12.columns